  * {
      padding: 0;
      margin: 0;
      list-style: none;
  }

  a {
      text-decoration: none;
      color: inherit;
  }

  .box {
      width: 1200px;
      height: 200px;
      margin: 0 auto;
      /* background-color: aquamarine; */
  }

  .cent {
      margin-left: -200px;
  }

  .cent ul {
      display: flex;
  }

  .cent ul li {
      margin-left: 20px;
  }

  .top {
      display: flex;
      width: 100%;
      height: 80px;
      line-height: 80px;
      justify-content: space-around;
      border-bottom: 1px solid #ccc;
  }

  .top .rig i {
      font-size: 20px;
      margin-left: 10px;
  }

  .center {
      width: 120px;
  }

  .center_img1 {
      position: relative;
      width: 1200px;
      height: 500px;
      background: url('./img/qp2.png') no-repeat;
      background-size: 100%;
  }

  .center_img2 {
      position: relative;
      width: 1200px;
      height: 550px;
      background: url('./img/pq1.png') no-repeat;
      background-size: 100%;
  }

  .center_img2 .rig {
      left: 50%;
      transform: translateX(-50%);
      top: 25%;
  }

  .center_img1_rig {
      position: absolute;
      width: 300px;
      text-align: center;
      /* height: 40px; */
      line-height: 40px;
      top: 100px;
      right: 20px;
  }

  .center_img1_rig .bot {
      width: 200px;
      height: 60px;
      line-height: 60px;
      background-color: #a4e3d9;
      border-radius: 5px;
      margin-top: 20px;
      margin-left: 50px;
  }

  .center_img1_rig .bot_cc {
      background-color: pink;
  }

  .footer {
      width: 1200px;
      height: 300px;
      display: flex;
      background-color: #e9f5f2;
      padding: 20px 40px;
      box-sizing: border-box;
  }

  .footer_left {
      width: 40%;
      line-height: 40px;
      margin-top: 50px;
  }

  .footer_right {
      width: 60%;
      display: flex;
  }

  .footer_right ul {
      margin-left: 20px;
  }

  .footer_right ul li {
      margin-bottom: 10px;
  }

  .swiper-container {
      position: relative;
      width: 1200px;
      height: 250px;
      margin: 10px 0;
      overflow: hidden;
  }

  .swiper-slide {
      width: 200px;
      height: 250px;
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
  }